.story-add_box {
  display: flex;
  height: 70px;
  width: 70px;
  border: 2px solid green;
  border-radius: 50%;
}

.story-add_box > i {
  margin-left: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}

.story-add_text {
  display: block;
  margin-top: 8px;
  margin-left: 3px;
  font-size: 13px;
}

.story-header {
  margin: 110px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-header_text {
  line-height: 22px;
  color: rgb(71, 70, 70);
  width: 65%;
  opacity: 0.7;
}
